<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.panjung99.panapi.web.dao.ToBQueryMapper">

    <!-- 查询用户数量 -->
    <select id="queryUserCount" resultType="Integer">
        SELECT count(1)
        FROM us_user
    </select>

    <!-- 查询订单数量 -->
    <select id="queryOrderCount" resultType="Integer">
        SELECT COUNT(1)
        FROM or_api_request_order
        WHERE created_at BETWEEN #{startDate} AND #{endDate}
    </select>

    <!-- 查询收入 -->
    <select id="queryRevenue" resultType="BigDecimal">
        SELECT SUM(amount)
        FROM us_bill
        WHERE bill_type = 2
              AND create_time BETWEEN #{startDate} AND #{endDate}
    </select>

</mapper>